<section>
  <h3>Question <%= question.number %></h3>
  <p><%= question.content %></p>

  <% for (const option of question.options) { %>
    <%- include('../partials/_question-answer.ejs',
      {
        questionIndex : question.number,
        option: {
          index: 0,
          label: option.answer_text,
          clickable: question.clickable,
          showCorrect: question.showCorrect,
          correct: option.is_correct,
          selected: option.user_selected
        }
      }
    ); %>
  <% }; %>
</section>
