<section>
  <section class="question-header">
    <p>Question #<%= question.number %></p>
    <% if (question.options.length <= 2) { %>
      <p class="result-word-incorrect">CORRECT</p>
    <% } else{ %>
      <p class="result-word-correct">INCORRECT</p>
      <% } %>
  </section>
  <p><%= question.content %></p>

  <% for (const option of question.options) { %>
    <%- include('../partials/_question-answer.ejs',
      {
        questionIndex : question.number,
        option: {
          index: 0,
          label: option.answer_text,
          clickable: question.clickable,
          showCorrect: question.showCorrect,
          correct: option.is_correct,
          selected: option.user_selected
        }
      }
    ); %>
  <% }; %>
</section>
