<section>
  <h1 class="quiz-title"><%= title %></h1>
  <h3 class="creator">Created by <%= creator %></h3>
  <p class="message">
    <%= message %>
  </p>
  <p>
    <%= description %>
  </p>
</section>
