<tr>
  <td class="quiz-name"><a href="/quiz/<%= quiz_id %>"><%= name %></a></td>
  <td><input type="checkbox" <%= isPublic ? 'checked' : null %> /></td>
  <td><button onclick="">copy</button></td>
</tr>
