<table>
  <tr>
    <th>name</th>
    <th>public</th>
  </tr>

  <!-- for-loop to generate content -->
  <tr>
    <td>LOTR Master Quiz</td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>Prequel Meme Supreme</td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>Quiz to Assert Dominance</td>
    <td><input type="checkbox"></td>
  </tr>
</table>