<table>
  <tr>
    <th class="quiz-name">Quiz name</th>
    <th>Public</th>
    <th>Link</th>
  </tr>

  <% for (const quiz of quizzesCreated) { %>
    <%- include('_user-quiz-row.ejs',
      {
        name: quiz.title,
        isPublic: quiz.is_public
      }
    ) %>
  <% }; %>
</table>
