<table>
  <tr>
    <th>name</th>
    <th>score</th>
    <th>share</th>
  </tr>

  <!-- for-loop to generate table content -->
  <tr>
    <td>Care Bears Quiz</td>
    <td>100%</td>
    <td><a>></a></td>
  </tr>
  <tr>
    <td>Kim Possible Lore</td>
    <td>35
      %</td>
    <td><a>></a></td>
  </tr>
  <tr>
    <td>Nostalgia Trip Test</td>
    <td>90%</td>
    <td><a>></a></td>
  </tr>
</table>