<tr id="<%= attempt_id %>">
  <td class="quiz-name"><a href="/result/<%= attempt_id %>"><%= name %></td>
  <td><%= score %>%</td>
  <td>
    <button class="resultsCopyButton">
      <div>
        <img src="/img/clipboard.png" alt="click to copy to keyboard!">
      </div>
    </button>
  </td>
</tr>
