<table>
  <tr>
    <th class="quiz-name">name</th>
    <th>public</th>
  </tr>

  <!-- for-loop to generate content -->
  <%- include('_user-quiz-row.ejs', {name:'LOTR Master Quiz', isPublic:true}) %>
  <%- include('_user-quiz-row.ejs', {name:'Prequel Meme Supreme', isPublic:false}) %>
  <%- include('_user-quiz-row.ejs', {name:'Quiz to assert dominance', isPublic:true}) %>
</table>