<% if (quizzesTaken.length < 1) { %>
  <p class="empty-message">You have no quiz results. You can <a href="/">find quizzes to take here!</a></p>
<% } else {%>
  <table>
    <tr>
      <th class="quiz-name">Quiz Results</th>
      <th>Score</th>
      <th></th>
    </tr>

    <% for (const quiz of quizzesTaken) { %>
      <%- include('_user-results-row.ejs',
        {
          name: quiz.title,
          score: quiz.percent_correct,
          attempt_id: quiz.attempt_id
        }
      ) %>
    <% }; %>

  </table>
<% } %>