doctype html
html(lang='en')
  head
    block head
      title= title
      link(rel='stylesheet', href='/vendor/normalize-4.1.1.css')
      link(rel="stylesheet", href="/vendor/border-box.css")
      link(rel='stylesheet', href='/styles/layout.css')
      script(src='/vendor/jquery-3.0.0.js')
      script(src="/scripts/app.js")
  body
    h1 Hello, world! This is the homepage (Pug)
