
// MOBILE COLUMNS
// MAX 6 COLUMNS

$mobile-margin:5.33vw;
$mobile-gutter:3.2vw;
$mobile-col-1:12.26vw;
$mobile-col-2:27.73vw;
$mobile-col-3:42.99vw;
$mobile-col-4:58.4vw;
$mobile-col-5:73.86vw;
$mobile-col-6:89.33vw;


// DESKTOP COLUMNS
// MAX 16 COLUMNS

$desktop-margin:4.6875vw;
$desktop-gutter:1.5625vw;

$desktop-col-1:4.218vw;
$desktop-col-2:10vw;
$desktop-col-3:15.703vw;
$desktop-col-4:21.484vw;
$desktop-col-5:27.2656vw;
$desktop-col-6:33.0468vw;
$desktop-col-7:38.75vw;
$desktop-col-8:44.53vw;

$desktop-col-9:50.3125vw;
$desktop-col-10:56.0156vw;
$desktop-col-11:61.7987vw;
$desktop-col-12:67.578vw;
$desktop-col-13:73.3593vw;
$desktop-col-14:79.0625vw;
$desktop-col-15:84.8437vw;
$desktop-col-16:90.625vw;