
// MOBILE COLUMNS
// MAX 6 COLUMNS

$mobile-margin:5.33vw;
$mobile-gutter:3.2vw;
$mobile-col-1:12.26vw;
$mobile-col-2:27.73vw;
$mobile-col-3:42.99vw;
$mobile-col-4:58.4vw;
$mobile-col-5:73.86vw;
$mobile-col-6:89.33%;