<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('../partials/_head-styles.ejs'); %>
    <link rel="stylesheet" href="/styles/quiz-tile.css">
    <%- include('../partials/_head-scripts.ejs'); %>

    <title>Quokka - This is not the page you're looking for.</title>
  </head>
  <body>
    <%- include('../partials/_header.ejs'); %>
    <h1>This is not the page you're looking for!</h1>
    <p class="errorMessage"><%= message %></p>
  </body>
</html>
