<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/_head-styles.ejs'); %>
  <link rel="stylesheet" href="/styles/quiz-tile.css">
  <%- include('../partials/_head-scripts.ejs'); %>
  <script defer src="/scripts/index.js"></script>

  <title>QUOKKA? - Home</title>
</head>
<body>
  <%- include('../partials/_header.ejs'); %>
  <main class="quiz-tile-container">
    <!-- Replace w/ for loop when data fetching ready -->
    <% if (quizzes){ %>
      <% for (let quiz of quizzes) {%>
        <%- include('../partials/_quiz-tile.ejs', {quiz}); %>
      <% } %>
    <%} else {%>
      <p>Something went wrong. Please reload!</p>
    <% } %>

  </main>
  <footer>
    <button class="more" data-currentpage="0">Show more</button>
    <p class="message"><!-- Messages appear here --></p>
  </footer>
</body>
</html>
