<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/_head-styles.ejs'); %>
  <link rel="stylesheet" href="/styles/quiz-new.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />

  <%- include('../partials/_head-scripts.ejs'); %>
  <script defer src="/scripts/quiz-new-functions.js"></script>
  <script defer src="/scripts/quiz-new.js"></script>

  <title>Make a New QUOKKA? Quiz</title>
</head>

<body>
  <%- include('../partials/_header.ejs'); %>
  <main>
    <h2>Make a New Quiz</h2>
    <form>
      <label for="title" class="required">Quiz name</label>
      <input type="text" class="required" name="title" maxlength="100"  />
      <label for="description" class="required">Short blurb about your quiz</label>
      <input type="text" class="required" name="description" maxlength="255" />
      <input type="checkbox" name="is_public"><label for="is_public">Make quiz appear publicly on home page</label>
      <!-- WARNING: The original version of this file started numbering from questionIndex 0.
      This has now been changed. The first question now has questionIndex 1, so it's consistent with quiz-play.ejs -->
      <article>
        <!-- Questions appear here -->
      </article>
      <button class="new-question" data-att="att"> + Add Question</button>
      <div class="error-message">
        <!-- Error messages appear here -->
      </div>
      <button class="save-quiz" type="submit">Save Quiz</button>
    </form>
  </main>
</body>

</html>
