<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/_head-styles.ejs'); %>
  <!-- <link rel="stylesheet" href="/styles/user.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/buttons.css" /> -->

  <%- include('../partials/_head-scripts.ejs'); %>

  <title>QUOKKA? - New Quiz</title>
</head>
<body>
  <%- include('../partials/_header.ejs'); %>
  <main>
    <h2>Make a New Quiz</h2>
    <form>
      <input type="text" />
      <input type="text" />

      <!-- will add more in jquery w/ add question button  -->
      <%- include('../partials/_new-question.ejs', {questionIndex:0}) %>

      <button onclick="">+ Add Question</button>
    </form>
  </main>
</body>
</html>