@import 'partials/columns';
@import 'partials/colors';

button, .button-style {
  width:100%;
  height:$mobile-col-1;
  background-color: $sky-blue;
  color: black;
  border-radius: 12px;
  border:none;
  margin-top: $mobile-margin;
  cursor: pointer;
  font-weight: bold;

  &.secondary {
    background-color: $gray-blue;
  }

  &.green {
    background-color:$green;
  }

  &.red {
    background-color: $red;
  }
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $mobile-col-4 + ($mobile-gutter * 2);
  height: $mobile-col-1;
  margin: $mobile-gutter $mobile-col-1 $mobile-gutter $mobile-col-1;

  background-color: deepskyblue;
  border-radius: 5px;
}
