@import 'partials/columns';
@import 'partials/colors';

form > button[type=submit], .button-style {
  width:100%;
  height:$mobile-col-1;
  background-color: $sky-blue;
  border-radius: 12px;
  border:none;
  margin-top: $mobile-margin;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $mobile-col-4 + ($mobile-gutter * 2);
  height: $mobile-col-1;
  margin: $mobile-gutter $mobile-col-1 $mobile-gutter $mobile-col-1;

  background-color: deepskyblue;
  border-radius: 12px;
}
