@import 'partials/columns';
@import 'partials/colors';
@import 'layout';

button, .button-style {
  @extend .shadow;
  width:100%;
  height:$mobile-col-1;
  background-color: $sky-blue;
  color: black;
  border-radius: 12px;
  border:none;
  margin-top: $mobile-margin;
  cursor: pointer;
  font-weight: bold;


  &:active {
    background-color: #4da3ff;
    transform: translateY(4px);
  }

  &.secondary {
    background-color: $gray-blue;
    &:active {
      background-color: #577ea8;
    }
  }

  &.green {
    background-color:$green;
  }

  &.red {
    background-color: $red;
  }

  &.delete-option, &.delete-question {
    background-color: $red;
    width: 12.26vw;
    height: 12.26vw;
    margin-top: 0;
    border-radius: 10px;
  }
}

.share {

  @extend .shadow;
  display: flex;
  justify-content: center;
  align-items: center;

  width: $mobile-col-4 + ($mobile-gutter * 2);
  height: $mobile-col-1;
  margin: $mobile-gutter $mobile-col-1 $mobile-gutter $mobile-col-1;

  background-color: $sky-blue;
  border-radius: 12px;
  color: black;
  font-weight: 600;

}


