// See: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import 'partials/colors';


body {
  background-color: $deep-blue;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0 5% 0 5%;
  color: $ice-blue;
  h1 {
    color: $ice-blue;
  }
}

/* For testing only (i.e. to see when an element is selected asynchronously) Can remove before deploying */
.color-test {
  background-color: red;
  color: green;
  border: 5px solid black;
}

/* Generates red stars to indicate required fields */
.required::after {
  content:" *";
  color: red;
}

.message {
  color: green;
  font-weight: 500;
}

.error-message {
  color: red;
  font-weight: 500;
}
