// See: https://sass-lang.com/

body {
  // background-color: #EEE;
  padding: 0 5% 0 5%;
  h1 {
    color: #244751;
  }
}

/* Use this for testing jQuery picking elements */
.color-test {
  background-color: red;
  color: green;
  border: 5px solid black;
}

.error-message {
  color: red;
  font-weight: 500;
}
