@import 'partials/columns';
@import 'partials/colors';

// input[type=text] {
//   width:100%
// }

input[type='text'].transparent {
  background-color: inherit;
  border-bottom: 5px solid $ice-blue;
  color: $ice-blue;
}

table {
  table-layout: fixed;
  border-spacing: $mobile-gutter;
  // New Option Headers

  th {
    &.option-correct{
      width: $mobile-col-1;
    }

    &.option-text{
      width: $mobile-col-4;
    }

    &.dummy {
      width: $mobile-col-1;
    }
  }
}

//New Questions
header.new-question {
  margin: $mobile-gutter 0;
}


// New Options
div.new-option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: $mobile-gutter/2 0 $mobile-gutter/2 0;

  label {
    text-align: center;
  }

  input[type=checkbox] {
    width: $mobile-col-1;
    height: $mobile-col-1;
  }

  input[type='text'] {
    width: $mobile-col-4;
  }
}

//Other
input[type=text] {
  border: none;
  border-bottom: 2px solid dimgray;
  width:100%;
  height:$mobile-col-1;
}

label {
  font-weight: bold;
  // margin-top: $mobile-gutter;
}
