@import 'partials/_columns.scss';
@import 'partials/_colors.scss';

.quiz-tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quiz-tile {
  display:flex;
  align-items: center;
  justify-content: center;

  width:$mobile-col-3;
  height:$mobile-col-3;
  margin-bottom: $mobile-gutter;

  background-color: $ice-blue;
  text-align: center;
  text-decoration: none;
}

.homepage-header {
  text-align: center;
  font-size: 11vw;
}

a {
  text-decoration: none;
}
