@import 'partials/columns';

// input[type=text] {
//   width:100%
// }

//New Questions
header.new-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.new-question {
  // display: flex;
  margin-top: $mobile-gutter;
  width: 100%;
  height: $mobile-col-1;
  text-align: center;
}
// New Option Headers

div.new-option-header {

  label.option-correct{
    width: $mobile-col-1;
  }

  label.option-text{
    width: $mobile-col-4;
  }

}

// New Options
div.new-option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: $mobile-gutter/2 0 $mobile-gutter/2 0;

  label {
    text-align: center;
  }

  input[type=checkbox] {
    width: $mobile-col-1;
    height: $mobile-col-1;
  }

  input[type='text'] {
    width: $mobile-col-4;
  }
}


button.new-option {
  width:$mobile-col-5;
  height: $mobile-col-1;
  margin-left: $mobile-col-1 + $mobile-gutter;
  text-align: center;
}

//Other
input[type=text] {
  border: none;
  border-bottom: 2px solid dimgray;
  width:100%;
  height:$mobile-col-1;
  margin-bottom: $mobile-gutter;
}

label {
  font-weight: bold;
  // margin-top: $mobile-gutter;
}
