@import 'partials/columns';
@import 'partials/colors';

form {
  display: none;
}

.quiz-title {
  text-align: center;
  font-size: 3rem;
  margin: $mobile-gutter 0 $mobile-gutter 0;
}


article {
  display: flex;
  flex-direction: column;
  align-items: center;


  section {
    text-align: center;
  }


  button {
    max-width: 64.8vw;
    margin-left: auto;
    margin-right: auto;
  }
}

h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.user-header {
  @extend .quiz-title;
  font-size: 2.25rem;
  font-weight:bold;
  margin: $mobile-gutter 0 $mobile-gutter 0;
}

.score-header {
  @extend .user-header;
  font-size: 6.9rem;
}

.num-correct-header {
  @extend .user-header;
  font-size: 1.5rem;
}

.date-time-header {
  @extend .user-header;
  font-size: 1rem;
}

.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  label:hover {
    cursor: pointer;
  }
}

.answer + label {
  display: flex;
  justify-content: center;
  align-items: center;

  width:100%;
  height:$mobile-col-1;
  margin-bottom: $mobile-gutter;

  background-color: $ice-blue;
  color: black;
  border-radius: 12px;
}

.answer:checked + label {
  background-color: $gray-blue;
}

.answer {
  appearance: none;
}

.answer.correct + label {
  background-color: $green;
}

.answer.incorrect + label {
  background-color: $red;
}

.question-header {
  @extend .user-header;
  font-size: 1.33rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-word-correct {
  color: darkgreen;
}

.result-word-incorrect {
  color: darkred;
}
