@import 'partials/columns';

nav#profile {
  display:flex;
  justify-content: center;
}

.profile-tab {
  width: 49%;
  height: $mobile-col-1;
  margin: 0;

  border: none;
  border-bottom: 2px solid dimgray;
  background-color: white;
}

.profile-tab.active {
  border: 2px solid dimgray;
  border-bottom: none;
  background-color: lightgray;
}

table {
  width:100%;
  // th {
  //   text-align: left;
  // }
  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $mobile-col-1;
    border-bottom: 2px solid dimgray;

    * {
      width:$mobile-col-1;
    }
    .quiz-name {
      width: 64%;
      text-align: left;
    }

    input {
      display: flex;
      align-items: center;
      width:$mobile-col-1 *.9;
      height:$mobile-col-1 * .9;

      // transform: scale(2);
    }
  }
}

.new-quiz {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 5px;

  width: $mobile-col-6;
  height: $mobile-col-1;

  background-color: cadetblue;
  border-radius: 5px;

}
